/* Define standard variables and values for website */
:root {
  color-scheme: light dark;
}

nav.second-level,
nav.navbar.bg-light {
  background-color: light-dark(#eeeeee, #101010) !important;
  border-bottom: 1px solid light-dark(transparent, #eeeeee);
}

footer.bg-light {
  background-color: light-dark(#eeeeee, #101010) !important;
  border-top: 1px solid light-dark(transparent, #eeeeee);
}

.brand {
  display: block;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0.25em;
}

.brand .skipto {
  display: inline-block;
  padding: 0.25em;
  color: #ffffff;
  background: #C5050C;
}

blockquote {
  margin: 1em 15%;
  text-align: center;
}

.text-blue {
  color: #005797;
}

nav ol.breadcrumb {
  padding-left: 0;
}

nav.second-level {
  margin: 0;
  margin-bottom: 1em;
}

nav.second-level a {
  display: inline-block;
  padding: 0.125em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-size: 110%;
}

nav.second-level a[aria-current] {
  text-decoration: none;
}

footer {
  margin-top: 40px;
}

a[href]:hover {
  text-decoration: underline;
}

.bg-light a,
.breadcrumb a,
nav.second-level a,
nav.second-level a:hover,
nav.second-level a:focus,
.navbar-nav .nav-link,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: light-dark(#005797, rgb(110, 168, 254));
  outline-color: light-dark(#005797, rgb(110, 168, 254));
}

.breadcrumb a[aria-current],
nav.second-level a[aria-current],
.navbar-nav .nav-link[aria-current],
.navbar-nav .nav-link:hover[aria-current],
.navbar-nav .nav-link:focus {
  color: light-dark(#000000, #888);
}

.tab-pane {
  margin-top: 1em;
}

div.language-html {
  font-family: monospace courier;
  padding: 0.5em;
  color: light-dark(#24292E, #cad0d5);
  display: flex;
}

div.language-html pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
  overflow-y: scroll;
}

div.language-html .highlight {
  margin-bottom: 16px;
  overflow-y: scroll;
}

div.language-html .highlight pre {
  margin-bottom: 0;
  word-break: normal;
  overflow-y: scroll;
}

div.language-html .highlight pre,
div.language-html pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: light-dark(#f6f8fa, #0a0804);
  border-radius: 3px;
  overflow-y: scroll;
}

div.language-html pre code,
div.language-html pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

div.language-html pre .nt {
  color: light-dark(darkgreen, lightgreen);
}

div.language-html pre .kd,
div.language-html pre .nx {
  color: light-dark(#953800, #ff985a);
}

div.language-html pre .na {
  color: light-dark(#005cc5, #63acff);
}

div.language-html pre .c1 {
  color: light-dark(#005cc5, #63acff);
}

div.language-html pre .k {
  color: light-dark(#d73a49, #c22736);
}

figure.image {
  margin: 0.5em;
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 90%;
}

figure.image img {
  border: 2px solid light-dark(#dddddd, #333333);
}

figure.image figcaption {
  margin: 0;
  padding: 0.25em;
  font-weight: bold;
  font-size: 110%;
  background-color: light-dark(#dddddd, #333333);
  width: 100%;
  text-align: center;
}

div.container h1,
div.container .h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

div.container h2,
div.container .h2 {
  padding: 0;
  margin: 0;
  margin-top: 1em;
  font-size: 1.5rem;
}

div.container h3,
div.container .h3 {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.25rem;
}

div.container h4,
div.container .h4 {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.1rem;
}

div.params {
  margin: 0.5em 0;
  padding: 0.5em;
}

.bg-light code {
  color: light-dark(darkred, lightred);
}

.bg-light span.nt {
  color: light-dark(darkgreen, lightgreen);
}

p.happy {
  font-family: fantasy, cursive;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
}

main ul.shortcuts {
  margin: 0;
  padding: 0;
  list-style: none;
}

main ul.shortcuts li {
  margin: 0;
  padding: 0;
}

main li span.shortcut {
  display: inline-block;
  width: 1.5em;
  font-weight: bold;
}

.hidden-small {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hidden-offscreen {
  position: absolute;
  top: -30em;
  left: -300em;
}

.no {
  text-transform: lowercase;
  font-style: italic;
  font-weight: bold;
  font-size: 90%;
}

table.table tbody th a[href] {
  font-weight: normal;
}

table.table tbody td ul {
  margin: 0;
  padding: 0;
}

table.table tbody td li {
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

main dt {
  font-size: 120%;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  line-height: 1.2em;
}

main dd {
  font-size: 110%;
  margin: 0;
  padding: 0;
  margin-left: 0.5em;
  line-height: 1.2em;
}