
            <div role="search" style="margin-top: 1em">
                <label for="id-search-input">Search</label>
                <input id="id-search-input" type="text" style="width: 100%; padding: 2px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; resize: vertical;">
            </div>

           <aside aria-labelledby="id-resources">
            <h2 id="id-resources">Resources</h2>
            <ul>
              <li><a href="#">Resource 1</a></li>
              <li><a href="#">Resource 2</a></li>
              <li><a href="#">Resource 3</a></li>
              <li><a href="#">Resource 4</a></li>
              <li><a href="#">Resource 5</a></li>
              <li><a href="#">Resource 6</a></li>
            </ul>
          </aside>

          <section class="col col-lg-8 bg-light"
            role="complementary"
            aria-label="More Resources">
            <h2>More Resources</h2>
            <ul>
              <li><a href="#">More resources 1</a></li>
              <li><a href="#">More resources 2</a></li>
              <li><a href="#">More resources 3</a></li>
              <li><a href="#">More resources 4</a></li>
              <li><a href="#">More resources 5</a></li>
            </ul>
          </section>

          <section class="col col-lg-8 bg-light"
            role="complementary"
            aria-label="Many More Resources">
            <h2>Many More Resources</h2>
            <ul>
              <li><a href="#">Many more resources 1</a></li>
              <li><a href="#">Many more resources 2</a></li>
              <li><a href="#">Many more resources 3</a></li>
              <li><a href="#">Many more resources 4</a></li>
              <li><a href="#">Many more resources 5</a></li>
            </ul>
          </section>

