<script>

  window.addEventListener('load', () => {

    const headings = document.querySelectorAll('h1, h2, h3, h4, h5, h6');

    console.log(headings.length);
    for (let i = 0; i < headings.length; i += 1) {
      const h = headings[i];
      h.setAttribute("role", "none");
      console.log(h.tagName);
    }

  });


</script>


