<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
    <style>
      main h3 {
        font-size: 125%;
      }
      #anatomy {
        margin-top: 2em;
        margin-bottom: 1em;
      }
      figure img {
        width: 90%;
        border: 2px solid #888;
      }
      figcaption {
        font-size: 150%;
        text-align: center;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <main class="container px-4">
      <div class="row gx-4 justify-content-center">
        <div class="col-lg-10">
          {% block content %}
            <figure class="image" style="width: 80%">
               <img src="images/example_screen_shot.png"
                    alt=""
                    style="width: 100%";/>
                    <figcaption>Example Screen Shot of SkipTo.js button and menu</figcaption>
            </figure>

            <h1>{{title}}</h1>

            <p>SkipTo.js is more than a just replacement for your old classic “Skip To Main Content” link for implementing the <a href="https://www.w3.org/TR/WCAG/#bypass-blocks">WCAG 2.4.1 Bypass Blocks</a> requirement.

            The <a href="page.html">page script</a>, <a href="bookmarklets.html">bookmarkets</a> and <a href="extensions.html">browser extensions</a> create a drop-down menu consisting of the links to important landmarks and headings on a given web page.  The bookmarklets and browser extensions include powerful keyboard shortcuts for navigating landmark regions and headings on web pages, similar to the feature available in screen readers.
            </p>

            <p>
            Once the page script is installed and configured, the menu and shortcuts make it easier for keyboard and screen reader users to quickly jump to the desired region of a page by simply choosing it from the list of options.
            </p>

            <h2 id="features">Three Ways to Use Skipto.js</h2>
            <table class="table table-striped" aria-labelledby="features">
              <thead>
                <tr>
                  <td rowspan="2"></td>
                  <th rowspan="2">Menu Button</th>
                  <th colspan="2" style="text-align: center">Keyboard Shortcuts</th>
                  <th rowspan="2">Configuration</th>
                  <th rowspan="2">Benefits</th>
                </tr>
                <tr>
                  <th>Landmark Regions</th>
                  <th>Headings</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th><a href="page.html">Page Script</a></th>
                  <td>Yes</td>
                  <td class="no">no</td>
                  <td class="no">no</td>
                  <td>
                    Authors can use:
                    <ul>
                      <li>Use the <code>data-skipto</code> attribute to customize the features of SkipTo.js (<em>preferred</em>). </li>
                      <li>Global configuration object (<em>legacy support</em>).</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>Authors can use it to replace the simple "Skip To Main" link on the pages.</li>
                      <li>Provides a powerful and reliable way to navigate the structure of a web page for people with disabilities.</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th><a href="bookmarklets.html">Bookmarklets</a></th>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>Use the <code>data-skipto</code> attribute of the <code>script</code> tag in the link to customize the features of SkipTo.js.</td>
                  <td>
                    <ul>
                      <li>Try out SkipTo.js on any web page to learn how it works.</li>
                      <li>A testing tool to examine the landmark regions and headings on any web page.</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th><a href="extensions.html">Browser Extensions</a></th>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>Yes</td>
                  <td>Extension options panel.</td>
                  <td>
                    <ul>
                      <li>An assistive technology for keyboard only users to navigate the landmark regions and headings on any web page.</li>
                      <li>A testing tool to examine the landmark regions and headings on any web page.</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>

            <h2 id="anatomy">Anatomy of the SkipTo.js Menu</h2>

            <figure>
                <img src="images/skipto-menu-anatomy.png"
                     alt="Screen shot of SkipTo.js menu features with call out pointers">
                <figcaption>Features of the SkipTo.js Menu</figcaption>
            </figure>

            <h3 id="details-menu">Detailed Information on SkipTo.js Menu</h3>
            <table class="table table-striped" aria-labelledby="details-menu">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>
                    "Skip To Content" Button
                  </th>
                  <td>
                    <ul>
                      <li>Opens and closes the menu of landmark regions and headings.</li>
                      <li>Button can initially be hidden or visible on the web page.</li>
                      <li>A shortcut key is used to activate the button (e.g. <kbd>Option+0</kbd> or <kbd>Alt+0</kbd>).</li>
                      <li>Button is first tab stop on the web page.</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>
                    Landmark Regions
                  </th>
                  <td>
                    <ul>
                      <li>Landmark regions are the first section of the menu.</li>
                      <li>First menu item is the group label "Landmark Regions" and the number indicates how many landmarks are in the menu.</li>
                      <li>By default the landmarks are listed in order of importance on the page:
                        <ol>
                          <li>Main</li>
                          <li>Search</li>
                          <li>Navigation</li>
                          <li>Complementary</li>
                          <li>Contentinfo</li>
                        </ol>
                      </li>
                      <li>When a landmark region has an accessible name, it is included in the menu item after the region type.</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>
                    Headings
                  </th>
                  <td>
                    <ul>
                      <li>Heading are the second section of the menu.</li>
                      <li>The section includes a group label "Headings" and the number indicates how many headings are in the menu.</li>
                      <li>The headings are listed in document order.</li>
                      <li>The number before the heading name indicates the level of the sub-section heading.  Level 2 headings are sub-sections of level 1 headings, level 3 headings are subsections of level 2 headings and so on up to heading leel 6.</li>
                      <il>The accessible name is after the heading level.</il>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th>
                    Shortcuts
                  </th>
                  <td>
                    <ul>
                      <li>The Shortcuts group label indicates whether the shortcuts are currently enabled or disabled.</li>
                      <li>The first menu item is used to change the state of the shortcuts.</li>
                      <li>The second menu item opens a dialog box showing the current keyboard shortcuts.</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            {% include "./feedback.njk" %}

          {% endblock %}
        </div>
      </div>
    </main>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
