
     <p>If you and idea on how to improve {{projectName}} or find a problem please let us know by creating an <a href="{{issuesURL}}">issue in the GitHib repository for {{projectName}}</a>. Please provide the following information:</p>

     <h2>Github Issue (Preferred)</h2>

     <ol>
        <li><a href="{{issuesURL}}">Create {{projectName}} Github Issue</a></li>
        <li>If an issue or problem, include a URL to were the issue can be replicated.</li>
        <li>Include a short description of the issue or idea.</li>
        <li>How we can contact you for more information and verification the issue is resolved.</li>
     </ol>

     <p>Note: Github issues are <em>preferred</em> since it provides a public record of the issue and allows other people to comment.  The public record means the issue will remain until resolved, where as e-mails can sometimes missed.</p>

     <h2>E-mail</h2>

     <p>Send an e-mail to <a href="mailto:{{issuesEmail}}">Jon Gunderson</a> ({{issuesEmail}}) and include "{{projectName}}" in the subject line and the following information in the body if it is problem:</p>

     <ol>
        <li>If an issue or problem, include a URL to were the issue can be replicated.</li>
        <li>Include a short description of the issue or idea.</li>
        <li>How we can contact you for more information and verification the issue is resolved.</li>
     </ol>


