          <div id="browsers">

            <figure class="image">
               <img src="images/chrome-options-i18n.png"
                    alt=""
                    />
              <figcaption>Screen Shot of SkipTo.js options for internationalizing the labels used in the skip to content button and menu</figcaption>
            </figure>

            <h2 id="option-i18n">Internationalization of button and menu labels.</h2>

            <p>The <em>user</em> can configure in the browser extensions labels used for rendering the button, menu, dialogs and messages.</p>

          </div>

