<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-10">
          {% block title %}
          <h1>{{title}}</h1>
          {% endblock %}
          <div id="browsers">

            <p>The SkipTo.js browser add-ons and extensions automatically load SkipTo.js on to web pages after the web page is loaded.</p>

            <h2>Features</h2>
            <ul>
              <li>The "Skip To Content" button is visible after the page completes loading.</li>
              <li>The "Skip To Content" button has keyboard focus after the page loads.</li>
              <li>Users can open the menu using the <kbd>space</kbd> or <kbd>down arrow</kbd> key to view or select the landmarks and headings on the page.</li>
              <li>Moving keyboard focus or hovering over menu items scrolls the assocaited area on the page into view.</li>
              <li>When the "Skip To Content" button loses keyboard focus, the button slowly fads to the top of the screen, with about 6 pixels of it's bottom border showing.  <br/><em>Note</em>: Pointing over the 6 pixels causes button will reappear to make the menu discoverable and usable as a outline of the page to everyone.</li>
              <li>The menu can be reopened at any time by using the short cut key, <kbd>option</kbd> + <kbd>0</kbd> on the macOS or <kbd>alt</kbd> + <kbd>0</kbd> on Windows and Linux.</li>
            </ul>

              <h2>Why Use An Extension?</h2>

            <ul>
              <li>People with disabilities can navigate landmarks regions and headings of any website using keyboard commands, extending the browser's simple <code>tab</code> keyboard navigation to links and form controls.</li>
              <li>Testing your website for using SkipTo.js page script to implement WCAG 2.4.1 Bypass Blocks requirement.</li>
              <li>Testing websites for proper use of landmark regions and headings.</li>
            </ul>

            <h2>Get SkipTo.js Extensions</h2>
            <ul>
              <li><a href="https://chromewebstore.google.com/detail/skiptojs-for-chrome/bphinmlgdojgihhmppgboipmmjjcfjon">SkipTo.js for Chrome</a></li>
              <li><a href="https://addons.mozilla.org/en-GB/firefox/addon/skipto-js-for-firefox">SkipTo.js for Firefox</a></li>
            </ul>

          </div>

            {% include "./feedback.njk" %}

          </div>
        </div>
      </main>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
