          <div id="shortcuts">

            <p>
              The <a href="extensions.html">browser extensions</a> and <a href="bookmarklets.html">bookmarklet</a> versions of SkipTo.js provide powerful keyboard navigation to landmark regions and the headings of a web page.  Structural navigation to regions and headings have long been a part of <a href="https://www.w3.org/TR/UAAG10/guidelines.html#tech-nav-structure">W3C User Agent Accessibility Guidelines 1.0</a> and <a href="https://www.w3.org/TR/UAAG20/#gl-nav-structure">W3C User Agent Accessibility Guidelines 2.0</a> requirements.  Screen readers for the blind have provided region and heading navigation features for over 15 years.  Now keyboard support to landmark regions and headings are available through free browser extensions.
            </p>

            <h2 id="menu">Open Skip To Content Menu</h2>

            <div><em>Note: The open "Skip To Content" button works with all versions of SkipTo.js</em></div>

            <table class="table table-striped shortcuts" aria-labelledby="menu">
               <thead>
                  <tr>
                     <th>Key</th>
                     <th>Operating System</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                    <th><kbd>Alt+0</kbd></th>
                    <td>Windows and Linux</td>
                  </tr>
                  <tr>
                    <th><kbd>Option+0</kbd></th>
                    <td>macOS</td>
                  </tr>
                </tbody>
              </table>


            <h2 id="landmark-regions">Landmark Regions</h2>


            <table class="table table-striped shortcuts" aria-labelledby="landmark-regions">
               <thead>
                  <tr>
                     <th>Key</th>
                     <th>Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                    <th><kbd>r</kbd></kbd></th><td>Next region</td>
                  </tr>
                  <tr>
                    <th><kbd>R</kbd></th><td>Previous region</td>
                  </tr>
                  <tr>
                    <th><kbd>m</kbd></th><td>Main regions</td>
                  </tr>
                  <tr>
                    <th><kbd>n</kbd></th><td>Navigation regions</td>
                  </tr>
                  <tr>
                    <th><kbd>c</kbd></th><td>Complementary regions</td>
                  </tr>
                </tbody>
              </table>

            <h2 id="headings">Headings</h2>

            <table class="table table-striped shortcuts" aria-labelledby="headings">
               <thead>
                  <tr>
                     <th>Key</th>
                     <th>Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                    <th><kbd>h</kbd></th><td>Next heading</td>
                  </tr>
                  <tr>
                    <th><kbd>H</kbd></th><td>Previous heading</td>
                  </tr>
                  <tr>
                    <th><kbd>1</kbd></th><td>Level 1 headings</td>
                  </tr>
                  <tr>
                    <th><kbd>2</kbd></th><td>Level 2 headings</td>
                  </tr>
                  <tr>
                    <th><kbd>3</kbd></th><td>Level 3 headings</td>
                  </tr>
                  <tr>
                    <th><kbd>4</kbd></th><td>Level 4 headings</td>
                  </tr>
                  <tr>
                    <th><kbd>5</kbd></th><td>Level 5 headings</td>
                  </tr>
                  <tr>
                    <th><kbd>6</kbd></th><td>Level 6 headings</td>
                  </tr>
                </tbody>
              </table>
          </div>


