<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-10">
          {% block title %}
          <h1>{{title}}</h1>
          {% endblock %}
          <div id="browsers">

            <p>The SkipTo.js browser add-ons and extensions automatically loads SkipTo.js on to most web pages.</p>

            <h2>Why Use An Extension?</h2>

            <ul>
              <li><em>People with disabilities</em> can navigate landmarks regions and headings of any website using keyboard commands, extending the browser's simple <code>tab</code> keyboard navigation to links and form controls.</li>
              <li><em>All users</em> can get an outline of the page in a single menu to more easily explore the content of a web page.</li>
              <li>Testing your website for using SkipTo.js page script to implement WCAG 2.4.1 Bypass Blocks requirement.</li>
              <li>Testing websites for proper use of landmark regions and headings.</li>
            </ul>

            <h2>Configuration Options</h2>
            <ul>
              <li>Button visibility and focus when a page loads.</li>
              <li>The landmarks and headings included in the menu.</li>
              <li>Colors used for tht button and menu.</li>
              <li>Internationalization of button and menu labels.</li>
            </ul>

            <h2>Get SkipTo.js Extensions</h2>
            <ul>
              <li><a href="https://chromewebstore.google.com/detail/skiptojs-for-chrome/pgdpndjnhjnpjopdmgdemjbobcmbglfi">SkipTo.js for Chrome</a></li>
              <li><a href="https://addons.mozilla.org/en-GB/firefox/addon/skipto-js-for-firefox">SkipTo.js for Firefox</a></li>
            </ul>

            <p><strong>Note: </strong>The menu can be reopened at any time by using the short cut key, <kbd>option</kbd> + <kbd>0</kbd> on the macOS or <kbd>alt</kbd> + <kbd>0</kbd> on Windows and Linux.</p>

          </div>

            {% include "./feedback.njk" %}

          </div>
        </div>
      </main>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
