          <div id="browsers">

            <figure class="image">
               <img src="images/chrome-options-shortcuts.png"
                    alt=""
                     />
              <figcaption>Screen Shot of SkipTo.js options for the shortcut keys</figcaption>
            </figure>

            <h2 id="option-shortcuts">Shortcuts for sequential navigation to landmark regions and headings</h2>

            <p>There are 13 shortcuts the <em>user</em> can configure in the browser extensions for sequential navigation of landmark regions and headings.</p>

           <table class="table table-striped" aria-labelledby="option-shortcuts" style="width: 380px">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Default Shortcut</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Next Region</td>
                  <td><kbd>r</kbd></td>
                </tr>
                <tr>
                  <td>Previous Region</td>
                  <td><kbd>R</kbd></td>
                </tr>
                <tr>
                  <td>Main Region</td>
                  <td><kbd>m</kbd></td>
                </tr>
                <tr>
                  <td>Navigation Region</td>
                  <td><kbd>n</kbd></td>
                </tr>
                <tr>
                  <td>Complementary Region</td>
                  <td><kbd>c</kbd></td>
                </tr>
                <tr>
                  <td>Next Heading</td>
                  <td><kbd>h</kbd></td>
                </tr>
                <tr>
                  <td>Previous Heading</td>
                  <td><kbd>H</kbd></td>
                </tr>
                <tr>
                  <td>Level 1 Heading</td>
                  <td><kbd>1</kbd></td>
                </tr>
                <tr>
                  <td>Level 2 Heading</td>
                  <td><kbd>2</kbd></td>
                </tr>
                <tr>
                  <td>Level 3 Heading</td>
                  <td><kbd>3</kbd></td>
                </tr>
                <tr>
                  <td>Level 4 Heading</td>
                  <td><kbd>4</kbd></td>
                </tr>
                <tr>
                  <td>Level 5 Heading</td>
                  <td><kbd>5</kbd></td>
                </tr>
                <tr>
                  <td>Level 6 Heading</td>
                  <td><kbd>6</kbd></td>
                </tr>
              </tbody>
            </table>


          </div>

