<nav class="second-level" aria-label="Page Script Features">

  <a href="./page-script.html">Adding SkipTo.js</a>
  <a href="./config.html">Configuration</a>
  <a href="./examples.html">Examples</a>

</nav>
