
          <div id="add-script">

            <h2 id="page-benefits">Benefits</h2>
            <ul>
               <li>Easy and powerful way to conform to the “<a href="https://www.w3.org/TR/WCAG/#bypass-blocks">Bypass Blocks</a>” requirement of the <a href="https://www.w3.org/TR/WCAG/">Web Content Accessibility Guidelines</a>.</li>
               <li>Screen reader users can get a higher level navigation menu without having to use the screen reader landmark and header navigation commands which typically include longer lists of lower level headings and less used landmarks.</li>
               <li>Keyboard only users can more efficiently navigate to content on a page.</li>
               <li>Speech recognition users can use the menu to more efficiently navigate to content on a page.</li>
               <li>When the “Skip To Content” menu button is visible when the page is loaded everyone can use it to identify and navigate to important regions on a page.</li>
               <li>Authors can configure SkipTo.js to identify the most important regions, ideally about 7-12 items to make it easier for people to read the list and choose an option.  Remember the more items, the longer it will take for the user to identify which item they want to choose.</li>
            </ul>

            <h2 id="websites-using-skipto">Examples</h2>

            <p>There are two main ways to use the menu button for SkipTo.js in a page.  In the default configuration the menu button is always visible making it useful to everyone to easily find and navigate to the important content regions identified by the author.  This is similar to how curb cuts help more than just people using wheelchairs.  It is also easier for people using voice recognition to activate the button using the “click skip to content” command and use similar voice commands to activate SkipTo.js menu items.  The “popup” option is the more traditional approach to fulfilling the “<a href="https://www.w3.org/TR/WCAG/#bypass-blocks">bypass bocks</a>” requirement of the <a href="https://www.w3.org/TR/WCAG/">Web Content Accessibility Guidelines</a>, but this option makes the feature less visible to people who might benefit.</p>

            <h3 id="visible-menu-button-default">Visible Menu Button (default)</h3>

            <ul>
               <li><a href="https://housing.illinois.edu/">University Housing</a></li>
               <li><a href="https://opena11y.github.io/ainspector/">AInspector for WCAG Evaluation browser extensions</a></li>
               <li><a href="https://opena11y.github.io/h2l-side-panel/">Headings, Landmarks and Links (H2) browser extensions</a></li>
               <li><a href="https://openweba11y.com/">Open Web Accessibility Services</a></li>
            </ul>

            <h3 id="popup-menu-button">Popup Menu Button</h3>

            <ul>
               <li><a href="https://illinois.edu/">University of Illinois</a></li>
               <li><a href="https://w3.org/WAI/ARIA/apg">ARIA Authoring Practices Guide</a></li>
               <li><a href="https://admissions.illinois.edu/">Admissions at the University of Illinois</a></li>
               <li><a href="http://cpanel.web.illinois.edu">cPanel Web Hosting Service @ Illinois</a></li>
               <li><a href="https://ahs.illinois.edu/">College of Applied Health Sciences</a> (Web components)</li>
               <li><a href="https://education.illinois.edu/">College of Education</a> (Web components)</li>
            </ul>
            <p>NOTE: Popup menu button option is available through configuration of SkipTo.js when it is loaded using the <code>data-skipto="displayOption: popup"</code> attribute on the script tag referencing the SkipTo.js script.</p>

           <h2 id-"features">Features</h2>

            <table class="table table-striped" aria-labelledby="features">
               <thead>
                  <tr>
                     <th style="text-align: left">Feature</th>
                     <th style="text-align: left">Description</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td style="text-align: left">Button Visibility</td>
                     <td style="text-align: left">
                        <p>
                        The "Skip To Content" button can be visible (<em>default</em>) or hidden after the page completes loading.
                        </p>
                        <p>
                           <strong>Note:</strong>When the SkipTo.js button is visible when the page loads there is a "hide" button to change SkipTo.js to popup mode.
                        </p>
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left"><kbd>tab</kbd></td>
                     <td style="text-align: left">
                        After the page loads, pressing the <kbd>tab</kbd> key will bring focus to the "Skip To Content" button.  If the button was hidden it becomes visible.
                     </td>
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left"><kbd>space</kbd> and <br/><kbd>down arrow</kbd></td>
                     <td style="text-align: left">
                        When focus is on the button, users can open the menu using the <kbd>space</kbd> or <kbd>down arrow</kbd> key to view or select the landmarks and headings on the page.
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Landmark Items</td>
                     <td style="text-align: left">
                        In the <em>landmark regions</em> group the landmarks are ordered by the importance of the landmark for navigation: <code>main</code>, <code>search</code>, <code>navigation</code>, <code>complemntary<code> and <code>contentinfo</code>.
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Heading Items</td>
                     <td style="text-align: left">
                        In the <em>heading</em> group the headings are in document order.
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Scrolling into View</td>
                     <td style="text-align: left">
                        Moving keyboard focus or hovering over menu items scrolls the associated area on the page into view.
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Menu Shortcut Key</td>
                     <td style="text-align: left">
                        <p>A shortcut key can be used to open the SkipTo.js menu from anywhere on the page.</p>
                        <ul>
                           <li><kbd>Alt+0</kbd> : Windows, Unix and Linux.</li>
                           <li><kbd>Option+0</kbd> : macOS.</li>
                        </ul>
                     </td>
                  </tr>
               </tbody>
            </table>

              <h2>What You Need To do</h2>
              <p>All you need are either <code>skipto.js</code> or <code>skipto.min.js</code> from the “<a href="https://github.com/skipto-landmarks-headings/page-script-5/tree/main/docs/dist">/dist/</a>” directory of this repository. The <code>skipto.min.js</code> script is a minified (a lighter version) of <code>skipto.js</code> script.</p>

              <p>
                <string>Note:</string>
                   There is <em>no cost</em> associated with using SkipTo.js, it is a free service to help make the web more accessible and usable to everyone, including people with disabilities.
              </p>



              <h2 id="cdn-service">CDN Service</h2>

              <p>The easiest way is to include a reference to <code class="language-plaintext highlighter-rouge">skipto.min.js</code>  on your HTML page or template is through the CDN service, as follows:</p>
              <p>github.com CDN service:</p>
              <div class="language-html highlighter-rouge">
                 <div class="highlight">
                    <pre class="highlight"><code><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
              </code></pre>
                 </div>
              </div>
              <p>NOTE: CDN referenced files may not be available to computers behind firewall protected networks.</p>

              <h2 id="local-file-on-your-web-server">Local File on Your Web Server</h2>

              <p>Copy the <a href="https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.js">skipto.js</a> or <a href="https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.min.js">skipto.min.js</a> to the file system of your web server and reference it from your web page or templates using a <code class="language-plaintext highlighter-rouge">script</code> tag, as follows:</p>
              <div class="language-html highlighter-rouge">
                 <div class="highlight">
                    <pre class="highlight"><code><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://[path to Javascript files]/skipto.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
              </code></pre>
                 </div>
              </div>

              {% include "./warnings.njk" %}

          </div>
