          <div id="themes">

           <table class="table table-striped" aria-labelledby="id-title">
            <thead>
              <th>Example</th>
              <th>Description</th>
            </thead>
            <tbody>
            {% for ct in  colorThemes %}
              <tr>
                <td>{{ct}}</td>
                <td>{{colorThemes[ct.menuTextColor}}</td>
              </tr>
            {% endfor %}
            </tbody>
           </table>

          </div>

