           <h2 id-"features">Features</h2>

            <table class="table table-striped" aria-labelledby="features">
               <thead>
                  <tr>
                     <th style="text-align: left">Feature</th>
                     <th style="text-align: left">Description</th>
                  </tr>
               </thead>
               <tbody>
               {% if pagescript == false %}
                  <tr>
                     <td style="text-align: left">Single Key Shortcuts</td>
                     <td style="text-align: left">
                        Navigation using single key <a href="shortcuts.html">keyboard shortcuts</a> to landmark regions and headings on a page.
                     </td>
                  </tr>
               {% endif %}
                  <tr>
                     <td style="text-align: left">Button Visibility</td>
                     <td style="text-align: left">
                        <p>
                        The "Skip To Content" button can be visible (<em>default</em>) or hidden after the page completes loading.
                        </p>
                        <p>
                           <strong>Note:</strong>When the SkipTo.js button is visible when the page loads and is obscuring page content use the "hide" button to change SkipTo.js to popup mode.
                        </p>
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left"><kbd>tab</kbd></td>
                     <td style="text-align: left">
                        After the page loads, pressing the <kbd>tab</kbd> key will bring focus to the "Skip To Content" button.  If the button was hidden it becomes visible.
                     </td>
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left"><kbd>space</kbd> and <br/><kbd>down arrow</kbd></td>
                     <td style="text-align: left">
                        When focus is on the button, users can open the menu using the <kbd>space</kbd> or <kbd>down arrow</kbd> key to view or select the landmarks and headings on the page.
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Landmark Items</td>
                     <td style="text-align: left">
                        In the <em>landmark regions</em> group the landmarks are ordered by the importance of the landmark for navigation: <code>main</code>, <code>search</code>, <code>navigation</code>, <code>complemntary<code> and <code>contentinfo</code>.
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Heading Items</td>
                     <td style="text-align: left">
                         In the <em>heading</em> group the headings are in document order. By default only <code>h1</code> and <code>h2</code> headings are shown in the list.  More headings can be shown using configuration options.

                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Scrolling into View</td>
                     <td style="text-align: left">
                        Moving keyboard focus or hovering over menu items scrolls the associated area on the page into view.
                     </td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Menu Shortcut Key</td>
                     <td style="text-align: left">
                        <p>A shortcut key can be used to open the SkipTo.js menu from anywhere on the page.</p>
                        <ul>
                           <li><kbd>Alt+0</kbd> : Windows, Unix and Linux.</li>
                           <li><kbd>Option+0</kbd> : macOS.</li>
                        </ul>
                     </td>
                  </tr>
               </tbody>
            </table>
