          <div id="browsers">

            <figure class="image">
               <img src="images/chrome-options-menu.png"
                    alt=""
                     />
              <figcaption>Screen Shot of SkipTo.js options for what is included in the menu</figcaption>
            </figure>

            <h2 id="option-menu">Landmark Regions and Headings in the Menu</h2>

            <p>There are four options the <em>user</em> can configure in the browser extensions for rendering the SkipTo.js menu.</p>

            <table class="table table-striped" aria-labelledby="option-menu">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Default</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Landmark Regions</td>
                  <td>Navigation and Search</td>
                  <td>
                    <ul>
                      <li>Navigation</li>
                      <li>Search</li>
                      <li>Complementary</li>
                      <li>Contentinfo</li>
                      <li>Banner</li>
                      <li>Region</li>
                    </ul>
                    <div><em>Note:</em> The <code>main</code> landmark is always included in the menu.</div>
                  </td>
                </tr>
                <tr>
                  <td>Show landmark regions in document order</td>
                  <td>Disabled</td>
                  <td>Enabled or Disabled</td>
                </tr>
                <tr>
                  <td>Headings</td>
                  <td>Level 1 and 2</td>
                  <td>
                    <ul>
                      <li>Level 1</li>
                      <li>Level 1 and 2</li>
                      <li>Level 1, 2 and 3</li>
                      <li>Level 1, 2, 3 and 4</li>
                      <li>Level 1, 2, 3, 4 and 5</li>
                      <li>Level 1, 2, 3, 4, 5 and 6</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Only show headings in main landmark</td>
                  <td>Enabled</td>
                  <td>Enable or Disabled</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </div>

