<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>

      <!-- Main section-->
      <main class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-10">
            {% block title %}
            <h1>{{title}}</h1>
            {% endblock %}

            {% block content %}

              <p>All you need are either <code>skipto.js</code> or <code>skipto.min.js</code> from the “<a href="https://github.com/skipto-landmarks-headings/page-script-5/tree/main/docs/dist">/dist/</a>” directory of this repository. The <code>skipto.min.js</code> script is a minified (a lighter version) of <code>skipto.js</code> script.</p>

              <p>
                <string>Note:</string>
                   There is <em>no cost</em> associated with using SkipTo, it is a free service to help make the web more accessible and usable to everyone, including people with disabilities.
              </p>

              <h3 id="cdn-service">CDN Service</h3>

              <p>The easiest way is to include a reference to <code class="language-plaintext highlighter-rouge">skipto.min.js</code>  on your HTML page or template is through the CDN service, as follows:</p>
              <p>github.com CDN service:</p>
              <div class="language-html highlighter-rouge">
                 <div class="highlight">
                    <pre class="highlight"><code><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
              </code></pre>
                 </div>
              </div>
              <p>NOTE: CDN referenced files may not be available to computers behind firewall protected networks.</p>

              <h3 id="local-file-on-your-web-server">Local File on Your Web Server</h3>

              <p>Copy the <a href="https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.js">skipto.js</a> or <a href="https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.min.js">skipto.min.js</a> to the file system of your web server and reference it from your web page or templates using a <code class="language-plaintext highlighter-rouge">script</code> tag, as follows:</p>
              <div class="language-html highlighter-rouge">
                 <div class="highlight">
                    <pre class="highlight"><code><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://[path to Javascript files]/skipto.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
              </code></pre>
                 </div>
              </div>

              {% include "./warnings.njk" %}

              {% include "./feedback.njk" %}


            {% endblock %}
          </div>
        </div>
      </main>
    </div>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
