<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <div id="main-section" class="container px-4">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>

      <!-- Main section-->
      <main class="container px-4">
        <div class="row gx-4 justify-content-center">
          <div class="col-lg-10">
            {% block title %}
            <h1>{{title}}</h1>
            {% endblock %}

            {% block content %}

              <h2>Why Use Page Script?</h2>

            <ul>
              <li>Make your website comply with <a href="https://www.w3.org/WAI/WCAG22/Understanding/bypass-blocks.html">WCAG 2.4.1 Bypass Blocks requirement</a>.</li>
            </ul>

            <h2>Features</h2>
            <ul>
              <li>The "Skip To Content" button can be visible or hidden after the page completes loading.</li>
              <li>If the "Skip To Content" button is hidden it becomes visible when it receives keyboard focus when the user uses the <kbd>tab</kbd> key.</li>
              <li>When focus is on the button, users can open the menu using the <kbd>space</kbd> or <kbd>down arrow</kbd> key to view or select the landmarks and headings on the page.</li>
              <li>In the <em>landmark regions</em> group the landmarks are ordered by the importance of the landmark, main first, followed by search, navigation, complemntary, and contentinfo.</li>
              <li>In the <em>heading</em> group the headings are in document order.</li>
              <li>Moving keyboard focus or hovering over menu items scrolls the assocaited area on the page into view.</li>
              <li>The menu can be reopened at any time by using the short cut key, <kbd>option</kbd> + <kbd>0</kbd> on the macOS or <kbd>alt</kbd> + <kbd>0</kbd> on Windows and Linux.</li>
            </ul>

              <h2>What You Need To dDo</h2>
              <p>All you need are either <code>skipto.js</code> or <code>skipto.min.js</code> from the “<a href="https://github.com/skipto-landmarks-headings/page-script-5/tree/main/docs/dist">/dist/</a>” directory of this repository. The <code>skipto.min.js</code> script is a minified (a lighter version) of <code>skipto.js</code> script.</p>

              <p>
                <string>Note:</string>
                   There is <em>no cost</em> associated with using SkipTo.js, it is a free service to help make the web more accessible and usable to everyone, including people with disabilities.
              </p>



              <h2 id="cdn-service">CDN Service</h2>

              <p>The easiest way is to include a reference to <code class="language-plaintext highlighter-rouge">skipto.min.js</code>  on your HTML page or template is through the CDN service, as follows:</p>
              <p>github.com CDN service:</p>
              <div class="language-html highlighter-rouge">
                 <div class="highlight">
                    <pre class="highlight"><code><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
              </code></pre>
                 </div>
              </div>
              <p>NOTE: CDN referenced files may not be available to computers behind firewall protected networks.</p>

              <h2 id="local-file-on-your-web-server">Local File on Your Web Server</h2>

              <p>Copy the <a href="https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.js">skipto.js</a> or <a href="https://skipto-landmarks-headings.github.io/page-script-5/dist/skipto.min.js">skipto.min.js</a> to the file system of your web server and reference it from your web page or templates using a <code class="language-plaintext highlighter-rouge">script</code> tag, as follows:</p>
              <div class="language-html highlighter-rouge">
                 <div class="highlight">
                    <pre class="highlight"><code><span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://[path to Javascript files]/skipto.min.js"</span><span class="nt">&gt;&lt;/script&gt;</span>
              </code></pre>
                 </div>
              </div>

              {% include "./warnings.njk" %}

              {% include "./feedback.njk" %}


            {% endblock %}
          </div>
        </div>
      </main>
    </div>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
