          <div id="browsers">

            <figure class="image">
               <img src="images/chrome-options-style.png"
                    alt=""
                     />
                <figcaption>Screen Shot of SkipTo.js options for the fonts and colors used to render the skip to content button and menu</figcaption>
            </figure>

            <h2 id="option-style">Fonts and Colors used to render the button and menu</h2>

            <p>The <em>user</em> can configure in the browser extensions the fonts and colors used for rendering the button and menu.</p>

          </div>

