          <div id="browsers">


            <figure class="image">
                <img src="images/chrome-options-highlight.png"
                    alt=""
                     />
                <figcaption>Screen Shot of options for how element are highlighted on the page</figcaption>
            </figure>

            <h2 id="option-highlight">Highlighting Elements</h2>

            <p>There are three options the <em>user</em> can configure in the browser extensions for highlighting elements on the page when using navigation commands.</p>

           <table class="table table-striped" aria-labelledby="option-highlight">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Default</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Highlight content when navigating menu items</td>
                  <td>Immediate</td>
                  <td>
                    <ul>
                      <li>None</li>
                      <li>Scroll immediately to menu target (default)</li>
                      <li>Scroll smoothly to menu target</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Highlight border size</td>
                  <td>Small</td>
                  <td>
                    <ul>
                      <li>Small (default)</li>
                      <li>Medium</li>
                      <li>Large</li>
                      <li>Extra Large</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Highlight border style</td>
                  <td>Solid</td>
                  <td>
                    <ul>
                      <li>Solid (default)</li>
                      <li>Dashed</li>
                      <li>Dotted</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>


            </figure>

          </div>

