          <div id="browsers">

            <figure class="image">
                <img src="images/chrome-options-button.png"
                    alt=""
                     />
                <figcaption>Screen Shot of SkipTo.js options for how the skip to content button is rendered</figcaption>
            </figure>


            <h2 id="option-button">Button Visibility when the Page Loads</h2>

            <p>There are two options the <em>user</em> can configure in the browser extensions for rendering the button and keyboard focus when the page loads.</p>

           <table class="table table-striped" aria-labelledby="option-button">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Default</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bottom border of button always visible, so it can be made visible by pointing.</td>
                  <td>Disabled</td>
                  <td>
                    Disabled and Enabled
                  </td>
                </tr>

                <tr>
                  <td>"Skip To Content" Button Focus after the page loads.</td>
                  <td>Button</td>
                  <td>
                    <ul>
                      <li><strong>None:</strong> Default focus is on the page, typically at the beginning of the document.</li>
                      <li><strong>Botton:</strong> On the button. (default)</li>
                      <li><strong>Menu:</strong> The button is open and on th first element in the menu.</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>

