<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "./head.njk" %}
  </head>
  <body>
    {% include "./header.njk" %}

    <!-- Main section-->
    <div id="main-section" class="container px-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">{{title | safe}}</li>
        </ol>
      </nav>
      <main class="row gx-4 justify-content-center">
        <div class="col-lg-10">
          {% block title %}
          <h1>{{title}}</h1>
          {% endblock %}

          <div id="about">

            <h2 id="authors">Authors</h2>

            <h3 id="current-contributors">Current Contributors</h3>

            <p><strong>Jon Gunderson</strong>
            <a href="https://github.com/jongund">https://github.com/jongund</a></p>

            <h3 id="previous-contributors">Previous Contributors</h3>

            <p><strong>Nicholas Hoyt</strong>
            <a href="https://github.com/nhoyt">https://github.com/nhoyt</a></p>

            <p><strong>Prem Nawaz Khan</strong>
            <a href="https://github.com/mpnkhan">https://github.com/mpnkhan</a> || <a href="https://twitter.com/mpnkhan">@mpnkhan</a></p>

            <p><strong>Ron Feathers</strong>
            <a href="https://github.com/rfeathers">https://github.com/rfeathers</a> || <a href="https://twitter.com/ronfeathers">@ronfeathers</a></p>

            <p><strong>Marc Kocher</strong>
            <a href="https://github.com/mdkocher">https://github.com/mdkocher</a> || <a href="https://twitter.com/marckocher">@marckocher</a></p>

            <p><strong>Brian Teeman</strong>
            <a href="https://github.com/brianteeman">https://github.com/brianteeman</a></p>

            <p><strong>Victor Tsaran</strong>
            <a href="https://github.com/vick08">https://github.com/vick08</a> || <a href="https://twitter.com/vick08">@vick08</a></p>

            <h2 id="compiling-css-and-javascript">Compiling CSS and JavaScript</h2>

            <p>The <a href="https://github.com/skipto-landmarks-headings/page-script-5">SkipTo.js code</a> is open-source. You may feel slightly adventurous and decide to change some colors by creating a built-in color theme or even enhance the script with your changes. Once you do this, here is how you compile the skipTo script for production.</p>

            <div class="language-html highlighter-rouge">
              <div class="highlight">
                <pre class="highlight">
<code>git clone https://github.com/skipto-landmarks-headings/page-script-5.git
<span class="nb">cd </span>page-script-5
<span class="nb">sudo </span>npm <span class="nb">install </span>grunt-cli <span class="nt">-g</span>
npm <span class="nb">install</span>
gulp
</code>
</pre></div></div>

            <ol>
              <li>You should now have a directory called <strong><code class="language-plaintext highlighter-rouge">docs/dist</code></strong> with the necessary files in it.</li>
              <li>See <a href="using.html">Using Skipto</a> and the <a href-"config.html":>Configuration</a> pages to get the SkipTo script running on your web site.</li>
            </ol>

            <h2>Version Information</h2>

            <p>The <a href="https://github.com/skipto-landmarks-headings/page-script-5/blob/main/CHANGELOG.md"><code>CHANGELOG.md</code></a> file in the GitHub repository contains version history information.</p>

            {% include "./feedback.njk" %}

          </div>
        </div>
      </main>
    </nav>
    {% include "./footer.njk" %}
    {% include "./scripts.njk" %}

  </body>
</html>
