            <h2 id="of-course-we-want-feedback">Feedback and Reporting Issues</h2>

            <p>We welcome your feedback!  Please do not hesitate to <a href="https://github.com/skipto-landmarks-headings/page-script-5/issues">raise issues and comment on Github</a> if something doesn’t work or you have ideas on how to improve the script.</p>

            <p>Happy skipping!</p>
