        <!-- Footer-->
        <footer class="py-5">
            <div class="feedback container px-4 text-center">
            <a href="https://opena11y.github.io/">All OpenA11y Projects</a> |
            <a href="about-privacy.html">Privacy Policy</a> |
            <a href="about-feedback.html">Feedback</a>
            </div>

            <div class="container px-4 text-center">{{projectName}} Copyright (c) 2021-2026; Licensed BSD, All rights reserved</div>

            <div class="container px-4 text-center"><a href="https://en.wikipedia.org/wiki/BSD_licenses">Licensed BSD</a> allows for <em>{{projectName}}</em> to be freely used (e.g. no cost), copied or modified.</div>

            <div class="container px-4 text-center">Website conformance to <a href="https://www.w3.org/TR/WCAG22/">WCAG 2.2</a> requirements supported using <a href="https://opena11y.github.io/ainspector">AInspector browser addon</a>.</div>

        </footer>


