        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="index.html">
                    <span class="brand">SkipTo.js</span>
                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar"
                        aria-expanded="false" a
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                  <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="index.html">Home</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="using.html">Using</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="config.html">Configuration</a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="examples.html">Examples</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>


                    </ul>

                </div>
            </div>
        </nav>

