        <!-- Navigation-->
        <nav class="navbar
             navbar-expand-lg navbar-light bg-light"
             aria-label="Primary"
             id="mainNav">
            <div class="container px-4">
                <span class="brand">
                  <span class="skipto">SkipTo.js {{version}}</span>
                </span>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar"
                        aria-expanded="false" a
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                  <ul class="navbar-nav ms-auto">
                    {% for p in pages %}
                      {% if p.link %}
                        <li class="nav-item">
                          <a class="nav-link" href="{{p.filename}}">{{p.link}}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </nav>

