/* Define standard variables and values for website */
$iconBlue: #13294B;
$iconRed: #C5050C;
$iconBackground: #dddddd;
$iconWhite: #ffffff;
$contentBlue: #005797;
$linkCurrent: #000000;

.brand {
  display: block;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0.25em;
}

.brand .skipto {
  display: inline-block;
  padding: 0.25em;
  color: $iconWhite;
  background: $iconRed;
}

blockquote {
  margin: 1em 15%;
  text-align: center;
}

.text-blue {
  color: $contentBlue;
}

nav ol.breadcrumb {
  padding-left:  0;
}

footer {
  margin-top: 40px;
}

a[href]:hover {
  text-decoration: underline;
}

.breadcrumb a,
.navbar-nav .nav-link,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: $contentBlue;
  outline-color: $contentBlue;
}

.breadcrumb a[aria-current],
.navbar-nav .nav-link[aria-current],
.navbar-nav .nav-link:hover[aria-current],
.navbar-nav .nav-link:focus {
  color: $linkCurrent;
}

.tab-pane {
  margin-top: 1em;
}

div.language-html {
  font-family: monospace courier;
  padding: 0.5em;
  color: rgb(36, 41, 46);
  display: flex;
}

div.language-html pre>code {
  padding:0;
  margin:0;
  font-size:100%;
  word-break:normal;
  white-space:pre;
  background:transparent;
  border:0;
  overflow-y: scroll;
}

div.language-html .highlight {
  margin-bottom:16px;
  overflow-y: scroll;
}

div.language-html .highlight pre {
  margin-bottom:0;
  word-break:normal;
  overflow-y: scroll;
}

div.language-html .highlight pre,
div.language-html pre {
  padding:16px;
  overflow:auto;
  font-size:85%;
  line-height:1.45;
  background-color:#f6f8fa;
  border-radius:3px;
  overflow-y: scroll;
}

div.language-html pre code,
div.language-html pre tt {
  display:inline;
  max-width:auto;
  padding:0;
  margin:0;
  overflow:visible;
  line-height:inherit;
  word-wrap:normal;
  background-color:transparent;
  border:0
}

div.language-html pre .nt /* entity.name.tag, markup.quote */ {
  color:  darkgreen;
}

div.language-html pre .kd,
div.language-html pre .nx {
  color:  rgb(149, 56, 0);
}

div.language-html pre .na {
  color:  #005cc5;
}

div.language-html pre .c1 /* entity.name.tag, markup.quote */ {
  color:  #005cc5;
}
div.language-html pre .k /* keyword, storage, storage.type */ {
  color:  #d73a49;
}

div.image {
  margin: 0.5em;
}

div.image img {
  border: 2px solid #dddddd;
}

div.container h1,
div.container .h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

div.container h2,
div.container .h2 {
  padding: 0;
  margin: 0;
  margin-top: 1em;
  font-size: 1.5rem;
}

div.container h3,
div.container .h3 {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.25rem;
}

div.container h4,
div.container .h4,
 {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.1rem;
}

div.params {
  margin: 0.5em 0;
  padding: 0.5em;
}

.bg-light a {
  color: darkblue;
}

.bg-light code {
  color: darkred;
}

.bg-light span.nt {
  color: darkgreen;
}

p.happy {
  font-family: fantasy, cursive;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05em;
}

main ul.shortcuts {
  margin: 0;
  padding: 0;
  list-style: none;
}

main ul.shortcuts li {
  margin: 0;
  padding: 0;
}

main li span.shortcut {
  display: inline-block;
  width: 1.5em;
  font-weight: bold;
}

.hidden-small {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.hidden-offscreen {
  position: absolute;
  top: -30em;
  left: -300em;
}

.no {
  text-transform: lowercase;
  font-style: italic;
}
