            <h2 id="warning-messages">Warning Messages</h2>
            <p>The following warning messages may be rendered to the console:</p>
            <table class="table table-striped" aria-labelledby="warning-messages">
               <thead>
                  <tr>
                     <th style="text-align: left">Message</th>
                     <th style="text-align: left">Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td style="text-align: left">Skipto is already loaded</td>
                     <td style="text-align: left">Additional SkipTo’s are ignored</td>
                  </tr>
                  <tr>
                     <td style="text-align: left">No headings found in main</td>
                     <td style="text-align: left">Searches for headings anywhere on the page</td>
                  </tr>
                  <tr>
                     <td style="text-align: left">No headings found on page</td>
                     <td style="text-align: left">SkipTo menu reports no headings on the page</td>
                  </tr>
                  <tr>
                     <td style="text-align: left">No landmarks found on page</td>
                     <td style="text-align: left">SkipTo menu reports no landmarks on the page</td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Error in heading configuration</td>
                     <td style="text-align: left">Sets configuration to look for any <code class="language-plaintext highlighter-rouge">h1</code> of <code class="language-plaintext highlighter-rouge">h2</code> headings</td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Error in landmark configuration</td>
                     <td style="text-align: left">Sets configuration to look for <code class="language-plaintext highlighter-rouge">main search</code> and <code class="language-plaintext highlighter-rouge">navigation</code> landmarks</td>
                  </tr>
                  <tr>
                     <td style="text-align: left">Unsuported or deprecated configuration option “abc”</td>
                     <td style="text-align: left">“abc” option is ignored and/or default setting is used</td>
                  </tr>
               </tbody>
            </table>
